body{
	background-color: rgb(212,106,106);
/*	background-image: url(images/body-bg.jpg);
*/	background-size: cover;
	cursor: pointer;
}
li{
list-style: none;
color: white;
font-family: 'Ubuntu', sans-serif;
}
img{
	justify-content: center;
}
.hello{
	  transform: rotateX(150deg); /* Standard syntax */
}